<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>912699790436-0hn3fska5iriltme62o9n60g2g4hftva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912699790436-0hn3fska5iriltme62o9n60g2g4hftva</string>
	<key>API_KEY</key>
	<string>AIzaSyCVz4pK3be9UUeA0UFZSw_GPfAOCT8p9Vc</string>
	<key>GCM_SENDER_ID</key>
	<string>912699790436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prsolucoes.firebase</string>
	<key>PROJECT_ID</key>
	<string>firebase-carthage</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-carthage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912699790436:ios:8c40509da2441a3b</string>
	<key>DATABASE_URL</key>
	<string>https://fir-carthage.firebaseio.com</string>
</dict>
</plist>